footer {
    align-content: center;
    width: 100%;
    height: 3em;
    background-color: black;
    color: #C8C8CF;
    margin: 0;
}
section {
    margin: auto;
    justify-content: space-around;
}
p {
    font-size: 150%;
    justify-content: space-around;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

section #rankings {
    justify-content: center;
}

#rankings {
    background-size: 50% 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#logoHousesPodium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.logoPodium {

    height: 125px;
    width: 125px;
}

.logoPodiumFirst {
    height: 150px;
    width: 150px;
}

#rankingNamesUsers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
