//

html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    text-align: center;
    font-size: 150%;
    margin: 0;
    display: table;
    width: 100%;
    height: auto;
}

/*-----------------HEADER-----------------*/

header {
    height: auto;
    width: 100%;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    background-color: #44153C;
    color: #C8C8CF;
}

#cssThemeSwitcher {
    justify-content: center;
    margin-top: 10px;
    display: flex;
    flex-wrap: nowrap;
}

#pagesMenu {
    background-color: #44153C;
    width: 100%;
    display: inline-block;
    flex-wrap: nowrap;
    justify-content: center;
}

.cssTheme {
    border: none;
    mix-blend-mode: lighten;
    /*border-radius: 5% 45px;*/
    border-radius: 10px;
    font-size: 17px;
    outline: none;
}

.cssTheme:hover {
    transition-duration: 0.3s;
}

#defaultTheme {
    /*border: 1px solid rgb(100, 100, 100); */
    color: rgb(100, 100, 100);
    text-shadow: rgb(2, 1, 2) 0px 0px 2px;
    background-image: linear-gradient(33deg, rgb(100, 100, 100) 25%, rgb(52, 13, 46) 25%);
}

#defaultTheme:hover {
    transition-duration: 0.5s;
    background-image: linear-gradient(33deg, rgb(52, 13, 46) 25%, rgb(100, 100, 100) 25%);
}

#phoenixmlTheme {
    /*border: 0px solid #fda917;*/
    color: #ddae00;
    text-shadow: rgb(66, 1, 0) 0px 0px 2px;
    background-image: linear-gradient(33deg, #ddae00 25%, rgb(52, 13, 46) 25%);
    /*background-image: linear-gradient(33deg, rgb(253, 169, 23) 25%, rgb(133, 3, 0) 25%);*/
}

#phoenixmlTheme:hover {
    transition-duration: 0.5s;
    background-image: linear-gradient(33deg, rgb(133, 3, 0) 25%, #ddae00 25%);
}

#gistuneTheme {
    /*border: 1px solid #b9b2a8;*/
    color: #bbb1a7;
    text-shadow: #2e200d 0px 0px 2px;
    background-image: linear-gradient(33deg, #bbb1a7 25%, rgb(52, 13, 46) 25%)
    /* background-image: linear-gradient(33deg, #bbb1a7 25%, #836039 25%); */
}

#gistuneTheme:hover {
    transition-duration: 0.5s;
    background-image: linear-gradient(33deg, #836039 25%, #b9b2a8 25%);
}

#crackendTheme {
    /*border: 1px solid #54a1be;*/
    color: #56a7c6;
    text-shadow: #000037 0px 0px 2px;
    background-image: linear-gradient(33deg, #54a1be 25%, rgb(52, 13, 46) 25%);
    /*background-image: linear-gradient(33deg, #54a1be 25%, #000053 25%);*/
}

#crackendTheme:hover {
    transition-duration: 0.5s;
    background-image: linear-gradient(33deg, #000053 25%, #54a1be 25%);
}

.menuLink {
    margin: 5px;
    justify-content: space-between;
    display: inline-flex;
    flex-wrap: nowrap;
    vertical-align: middle;
    text-align: center;
}

.menuLink:hover {
    text-shadow: #250e1c 2px 2px 0px;
    color: #7d838a;
    transition-duration: 0.2s;
}

/*-----------------HEADER-----------------*/

section #rankingNamesUsers {
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    justify-content: space-between;
}

h2 {
    margin-top: 1em;
    color: white;
    font-size: 150%;
}

footer {
    align-content: center;
    width: 100%;
    height: 3em;
    background-color: black;
    color: #C8C8CF;
    margin: 0;left: 0; right: 0;
    position: absolute;
}

li {
    padding-right: 5px;
    justify-content: space-between;
    display: inline-flex;
    vertical-align: middle;
    text-align: center;
}

a, a:visited, a:link, a:hover, a:active {
    text-decoration: none;
    color: #C8C8CF;
}

#logo {
    height: 50px;
    width: 50px;
    padding-top: 15px;
}

.houseIcon {
    height: 25px;
    width: 25px;
    vertical-align: text-bottom;
}
