button #buttonAdmin{
    background-color: #4caf4f; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none !important;
}

img#H {
    margin-top: 0;
    height: 250px;
    padding-top: 48px;
    padding-bottom: 48px;
}

.disabled {
    display: none;
}

div.stat {
    height: 18em;
    padding-bottom: 48px;
}

section {
    margin: auto;
    justify-content: space-around;
}

p {
    font-size: 150%;
    justify-content: space-around;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

section #rankings {
    justify-content: center;
}

#rankings {
    background-size: 50% 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#logoSystemsPodium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.logoPodium {
    height: 125px;
    width: 125px;
}

.logoPodiumFirst {
    height: 150px;
    width: 150px;
}

#history {
    font-size: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    margin-bottom: 10%;
}

select, .triSystemRankForm button {
    background-color: #bbbcc4;
    border-radius: 20px;
    border: 0px;
    outline: none;
    font-size: 80%;
}

/*# sourceMappingURL=historique.css.map */

h3.challengePage {
    margin-top: 1em;
    color: white;
    font-size: 125%;
}

p.challengePage {
    color: white;
    text-align: center;
    font-size: 100%;
}

select, input, table {
    background-color: #bbbcc4;
    border-radius: 10px;
    border: 0px;
    outline: none;
    font-size: 80%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 10px 10px 10px;
}

input:focus {
    background-color: #7d838a;
}

table {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

td {
    border-bottom: 1px solid #7d838a;
}

[type="submit"]:checked {
}

img#H {
    margin-top: 0;
    height: 250px;
    padding-top: 48px;
    padding-bottom: 48px;
}

div.stat {
    height: 18em;
    padding-bottom: 48px;
}

section {
    margin: auto;
    justify-content: space-around;
}

p.historique {
    font-size: 150%;
    justify-content: space-around;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

section #rankings {
    justify-content: center;
}

#rankings {
    background-size: 50% 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#logoSystemsPodium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.logoPodium {

    height: 125px;
    width: 125px;
}

.logoPodiumFirst {
    height: 150px;
    width: 150px;
}

#history {
    font-size: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    margin-bottom: 10%;
    text-align: left;
    white-space: nowrap;
    font-size: 70%;
}

select, .triSystemRankForm button {
    background-color: #bbbcc4;
    border-radius: 20px;
    border: 0px;
    outline: none;
    font-size: 80%;
}

input {
    background-color: #bbbcc4;
    border-radius: 20px;
    border: 0px;
    outline: none;
    font-size: 100%;
}

input:hover {
    background-color: #7d838a;
}

#historyDiv p {
    margin: 0em;
    margin-left: 10px;
    margin-right: 10px;

}

#historyDiv {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: left;
    margin-bottom: 10%;
    margin-top: 1.5em;
}

@media screen and (max-width: 990px) {
    /*
        #rankingNamesUsers {
            display: block;
        }

     */
    #historyDiv {
        display: flex;
        flex-direction: column;
    }
}


section {
    margin: auto;
    justify-content: space-around;
}

p.homePage {
    text-justify: newspaper;
    text-align: justify;
    font-size: 150%;
    flex: auto;
    justify-content: space-around;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

section #rankings {
    justify-content: center;
    justify-items: center;
    align-items: center;
}

#rankings {
    background-size: 50% 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#logoSystemsPodium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.logoPodium {

    height: 125px;
    width: 125px;
}

.logoPodiumFirst {
    height: 150px;
    width: 150px;
}

#logoSystemsPodium section:nth-of-type(1) {
    order: 2;
    -webkit-order: 2;
}

#logoSystemsPodium section:nth-of-type(2) {
    order: 1;
    -webkit-order: 1;
}

#logoSystemsPodium section:nth-of-type(3) {
    order: 3;
    -webkit-order: 3;
}

#history {
    font-size: 75%;
    margin-bottom: 10%;
    white-space: nowrap;
    margin-left: 5px;
}

#historyDiv {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    text-align: left;
    margin-bottom: 10%;
    padding: 0;
}

#historyDiv p {
    margin: 20px;
}

@media screen and (max-width: 1190px) {
    #history {
        display: block;
    }

    #historyDiv {
        display: flex;
        flex-direction: column;
    }

    #history p {
        margin: 0 auto;
    }
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

p.systemPage {
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.story {
    width: 90%;
    margin: 0 auto;
}

.systemIconStory {
    width: 300px;
    height: 300px;
    transition-duration: 1s;
}

.systemInfos {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5em;
}

.cardContent {
    visibility: hidden;
}

.cardContent {
    visibility: visible;
}

.containerSystems {
    flex-grow: 1;
    justify-content: center;
    align-content: center;
    width: 99%;
    margin: 0px;
    left: calc(50% - 300px);
    display: flex;
    width: border-box;
}

.card {
    display: flex;
    flex-grow: 1;
    height: 500px;
    width: 200px;
    background-color: #45414f;
    opacity: 50%;
    border-radius: 10px;
    box-shadow: -1rem 0 3rem #000;
    transition: 0.4s ease-out;
    position: relative;
    left: 0;
    color: #45414f;
    margin-bottom: 7em;
}

.card:not(:first-child) {
    justify-content: center;
    align-content: center;
}

.secretTitle, .secret {
    visibility: hidden;
}

.secret {
    font-size: 0px;
}

.card:hover .secretTitle, .card:hover .secret {
    visibility: visible;
}

.card:hover .secret {
    font-size: 100%;
}

img {
    visibility: visible;
}

.card:hover {
    z-index: 99999999;
    opacity: 80%;
    height: 100%;
    width: 80%;
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    word-break: break-word;
    color: white;
}

.title {
    color: white;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
}

.bar {
    position: absolute;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
}

.emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
}

.filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(125, 131, 138);
    background: linear-gradient(90deg, rgb(69, 65, 79) 0%, rgb(57, 8, 47) 65%, rgb(37, 14, 28) 100%);
    transition: 0.6s ease-out;
}

#Crackend_card .filledbar {
    background: linear-gradient(90deg, #FFF9FF 0%, #006FA1 65%, #070057 100%);
}

#Gitsune_card .filledbar {
    background: linear-gradient(90deg, #fffefc 0%, #9a7c53 65%, #895f32 100%);
}

#PhoeniXMl_Card .filledbar {
    background: linear-gradient(90deg, #ffee72 0%, #fa6c00 65%, #ac0000 100%);
}

.card:hover .filledbar {
    width: 100%;
    transition: 0.4s ease-out;
}

.stroke {
    stroke: white;
    stroke-dasharray: 360;
    stroke-dashoffset: 360;
    transition: 0.6s ease-out;
}

.card:hover .stroke {
    stroke-dashoffset: 100;
    transition: 0.6s ease-out;
}

.systemRankForm select, .systemRankForm button {
    background-color: #bbbcc4;
    border-radius: 20px;
    border: 0px;
    outline: none;
    font-size: 100%;
}

.systemRankForm button:hover {
    background-color: #7d838a;
}

.systemMembers {
    width: 100%;
}

.listMembersSec {
    margin-top: 50px;
    display: flex;
    font-size: 75%;
    margin-bottom: 10%;
    white-space: nowrap;
    margin-left: 5px;
    justify-content: center;
}

.listMembers {
    justify-content: center;
    display: flex;
    padding: 0;
    width: 70%;
}

.listMembers p {
    margin: 0px;
    text-align: left;
    word-break: keep-all;
    margin-right: 20px;
    margin-left: 20px;
}

p.quizzPage {
    text-align: center;
    font-size: 100%;
}

#quizzForm, #validSkip {
    display: inline;
}

button {
    color: white;
    background-color: rgba(187, 188, 196, 0.71);
    border-radius: 20px;
    border: 0px;
    outline: none;
    font-size: 80%;
    font-family: 'Comic Neue', 'Open Sans', sans-serif;
}

input {
    color: white;
    background-color: rgba(187, 188, 196, 0.71);
    border-radius: 20px;
    border: 0px;
    outline: none;
    font-size: 130%;
    font-family: 'Comic Neue', 'Open Sans', sans-serif;
}


button:hover, input:hover {
    background-color: #7d838a;
}

label {
    padding-right: 30px;
}

#submitButton {
    transition-duration: 0.7s;
    display: inline;
    margin: 50px;
    color: rgb(50, 50, 50);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    border: 0px;
    outline: none;
    font-size: 130%;
    font-family: 'Comic Neue', 'Open Sans', sans-serif;
}

#submitButton:hover {
    display: inline;
    transition-duration: 0.7s;
    margin: 50px;
    color: rgb(215, 215, 215);
    background-color: #4a1741;
    border-radius: 25px;
    border: 0px;
    outline: none;
    font-size: 130%;
    font-family: "Roboto", sans-serif;
}

section {
    margin: auto;
    justify-content: space-around;
}

p.rankPage {
    font-size: 150%;
    justify-content: space-around;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

section #rankings {
    justify-content: center;
}

#rankings {
    background-size: 50% 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

#logoSystemsPodium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#logoSystemsPodium section:nth-of-type(1) {
    order: 2;
    -webkit-order: 2;
}

#logoSystemsPodium section:nth-of-type(2) {
    order: 1;
    -webkit-order: 1;
}

#logoSystemsPodium section:nth-of-type(3) {
    order: 3;
    -webkit-order: 3;
}

.logoPodium {
    height: 125px;
    width: 125px;
}

.logoPodiumFirst {
    height: 150px;
    width: 150px;
}

#rankingNamesUsers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-left: 20%;
}

#rankingNamesUsersDiv {
    width: fit-content;
    display: flex;
    justify-content: left;
    flex-wrap: nowrap;
    text-align: left;
    margin-bottom: 10%;
    padding: 0;
}

@media screen and (max-width: 850px) {

    #rankingNamesUsers {
        display: block;
    }

    #rankingNamesUsersDiv {
        display: flex;
        flex-direction: column;
    }
}

#rankingNamesUsersDiv p {
    width: max-content;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.triSystemRankForm select, .triSystemRankForm button {
    background-color: #bbbcc4;
    border-radius: 20px;
    border: 0px;
    outline: none;
    font-size: 80%;
}

.triSystemRankForm button:hover {
    background-color: #7d838a;
}

.systemIcon {
    height: 40px;
    width: 40px;
    vertical-align: text-bottom;
}


html, body .rules {
    margin: 0;
    padding: 0;
}

p.rules {
    font-size: 100%;
    color: white;
    text-align: justify;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px;
    margin: 0px;
}

h1.rules, img.rules {
    margin: 1em;
}

#logo_rules {
    margin-top: -2%;
    margin-bottom: 1%;
    width: 250px;
}

section#rules.rules {
    margin-bottom: 15%;
    padding-right: 2%;
    padding-left: 2%;
}

#logo_servbere {
    margin-top: 0.5%;
    margin-bottom: 1%;
    width: 300px;
}

body {
    width: 100%;
}

#logoUser {
    width: 100%;
}

#user {
    display: flex;
    flex-direction: column;
    color: white;
}

#logoUserSystem {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#statsUser {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#stats {
    text-align: left;
    font-size: 150%;
    width: 30%;
}

.HistoryForm select, .HistoryForm button {
    background-color: #bbbcc4;
    border-radius: 20px;
    border: 0px;
    outline: none;
    font-size: 100%;
}

.HistoryForm button:hover {
    background-color: #7d838a;
}


#history {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    /*
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
    white-space: nowrap;
    font-size: 120%;

     */
}

#divHistory {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
    margin-bottom: 10%;
    padding: 0;
}

#history p {
    text-align: left;
    width: max-content;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#addPoints {
    display: flex;
    text-align: center;
}

#addPts, #addPtsNote {
    justify-content: left;
    display: inline-table;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
}

#addPtsNote h2 {
    padding-left: 50px;
}

/*
select, input{
    background-color: #bbbcc4;
    border-radius: 10px;
    border : 0px;
    outline: none;
    font-size: 80%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 10px 10px 10px;
}

input:focus{
    background-color: #7d838a;
}
 */

/* -------------------------------- Theme Switcher -------------------------------- */

#cssThemeSwitcher {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 30%;
}

.cssTheme {
    margin-bottom: 5px;
    height: 50px;
    border: none;
    /*border-radius: 5% 45px;*/
    border-radius: 10px;
    font-size: 17px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.cssTheme:hover {
    transition-duration: 0.3s;
}

#defaultTheme {
    /*border: 1px solid rgb(100, 100, 100); */
    color: white;
    text-shadow: rgb(0, 0, 0) 0px 0px 2px;
    /*background-image: linear-gradient(33deg, rgb(199, 200, 207) 25%, rgba(52, 13, 46, 0) 25%);*/
    border: 1px solid rgb(199, 200, 207);
    background-image: linear-gradient(33deg, rgb(255, 255, 255) 25%, rgb(119, 119, 119) 25%);
}

#defaultTheme:hover {
    transition-duration: 0.5s;
    background-image: linear-gradient(33deg, rgb(199, 200, 207) 25%, rgb(143, 149, 156) 25%);
    border: none
}

#phoenixmlTheme {
    /*border: 0px solid #fda917;*/
    color: white;
    text-shadow: rgb(66, 1, 0) 0px 0px 2px;
    /*background-image: linear-gradient(33deg, #ffb500 25%, rgba(52, 13, 46, 0) 25%);*/
    border: 1px solid #ffb500;
    background-image: linear-gradient(33deg, rgb(253, 169, 23) 25%, rgb(133, 3, 0) 25%);
}

#phoenixmlTheme:hover {
    transition-duration: 0.5s;
    background-image: linear-gradient(33deg, rgb(255, 181, 0) 25%, rgb(154, 71, 66) 25%);
    border: none
}

#gistuneTheme {
    /*border: 1px solid #b9b2a8;*/
    color: white;
    text-shadow: #110c05 0px 0px 2px;
    /*background-image: linear-gradient(33deg, #9c7242 25%, rgba(52, 13, 46, 0) 25%);*/
    border: 1px solid #9c7242;
     background-image: linear-gradient(33deg, #bbb1a7 25%, #836039 25%);
}

#gistuneTheme:hover {
    transition-duration: 0.5s;
    background-image: linear-gradient(33deg, #bbb1a7 25%, #836039 25%);
    border: none
}

#crackendTheme {
    /*border: 1px solid #54a1be;*/
    color: white;
    text-shadow: #000037 0px 0px 2px;
    /*background-image: linear-gradient(33deg, #48b8d4 25%, rgba(52, 13, 46, 0) 25%);*/
    border: 1px solid #48b8d4;
    background-image: linear-gradient(33deg, #54a1be 25%, #000053 25%);
}

#crackendTheme:hover {
    transition-duration: 0.5s;
    background-image: linear-gradient(33deg, #48b8d4 25%, #06006b 25%);
    border: none
}


@media screen and (max-width: 740px) {
    #statsUser {
        display: block;
        color: white;
    }

    #cssThemeSwitcher {
        margin: 0 auto;
    }

    #historyUser {
        display: block;
    }

    #divHistory {
        display: flex;
        flex-direction: column;
    }

    #addPoints {
        display: block;
    }

    #addPts, #addPtsNote {
        display: flex;
        flex-direction: column;
    }

}

