@import url('public/css/themes/crackend.css');

.center{text-align:center}
#space-invaders {
    margin: 0 auto;
}

div {
    width: 100%;
    height: 75%;
}

h1{
    justify-content: center;
    text-align: center;
}

footer{
    bottom:0;
}
