@import url('public/css/themes/crackend.css');
@import url('public/css/themes/default.css');
@import url('public/css/themes/phoenixml.css');
@import url('public/css/themes/gitsune.css');

.center{text-align:center}
#space-invaders {
    margin: 0 auto;
}

div {
    width: 100%;
    height: 75%;
}

h1{
    justify-content: center;
    text-align: center;
}

footer{
    bottom:0;
}




.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}




.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #3e3e3e, #9d9d9d);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
