@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,300&display=swap');

h3.challengePage {
    margin-top: 1em;
    color: white;
    font-size: 125%;
    text-decoration: underline;
}

p.challengePage {
    color: white;
    text-align: center;
    font-size: 100%;
}

p{
    font-size: 1em;
}

select, input, table {
    background-color: rgba(0,0,0,0.3);
    color: white;
    width: 18em;

    border-radius: 3px;
    border: 0px;
    outline: none;
    font-size: 80%;
    //padding-left: 10px;
    //padding-right: 10px;
    margin: 10px 10px 10px 10px;
}

input:focus {
    background-color: rgba(0,0,0,0.5);
}

table {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

td {
    border-bottom: 1px solid #7d838a;
}

[type="submit"]:checked {
}

#selectChallenge {
    width: 18em;
    overflow: auto;
}

#selectOpponent {
    width: 18em;
    overflow: auto;
}

#selectArbiter {
    width: 18em;
    overflow: auto;
}

#sendChallenge {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#requestChallenges {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-wrap: normal;
    padding-bottom: 10%;
}

.disabled {
    display: none;
}

.sumbmitchallanges {
    transition-duration: 0.2s;
    border-radius: 3px;
    background-color: #4e555b;
    color: white;

}

.sumbmitchallanges:hover {
    transition-duration: 0.2s;
    border-radius: 3px;
    background-color: #ffffff;
    color: #474747;
}

.challengeSelect {
    width: 15em;
}

p#notFound {
    font-size: 80%;
}

p#notFoundOpponent {
    font-size: 80%;
}

p#notFoundArbiter {
    font-size: 80%;
}
