h3.challengePage {
    margin-top: 1em;
    color: white;
    font-size: 125%;
}

p.challengePage{
    color :white;
    text-align: center;
    font-size: 100%;
}

select, input, table {
    background-color: #ffffff;
    border-radius: 10px;
    border : 0px;
    outline: none;
    font-size: 80%;
    //padding-left: 10px;
    //padding-right: 10px;
    margin: 10px 10px 10px 10px;
}

input:focus{
    background-color: #7d838a;
}

table{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
}

td {
    border-bottom: 1px solid #7d838a;
}

[type="submit"]:checked {}


#sendChallenge {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#requestChallenges {
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-wrap: normal;
    padding-bottom: 10%;
}

.disabled {
    display: none;
  }

.option_Crackend{
    background-color: #91a8c4;
}
.option_Crackend:focus{
    background-color: #7c94b1;
}
.option_Gitsune{
    background-color: #9b8877;
}
.option_Gitsune:focus{
    background-color: #7a6a5a;
}
.option_PhoeniXML{
    background-color: #c49791;
}
.option_PhoeniXML:focus{
    background-color: #99716d;
}

