.email, .password {
    font-size: 30px;
    color: rgba(12, 12, 12, 0.7);
    border: rgba(87, 84, 98, 0.50);
    border-radius: 20px;
}
.email {
    padding-left: 76px ;
}

input {
    text-indent: 8px;
    border-radius: 20px;
    background: rgba(12, 12, 12, 0.7);
    color: rgba(143, 149, 156, 0.5);
    font-size: 25px;
    border: none;
    outline-style:none;
}

.div_button {
    margin-top: -500;
}

input:focus {
    text-indent: 8px;
    border-radius: 20px;
    background-color: rgba(87, 84, 98, 0.50);
    color: rgba(12, 12, 12, 0.7);
    border: none;
    /*font-size: 30px;*/
}


button {
    margin-top: 10px;
    background-color: rgba(12, 12, 12, 0.7);
    border-radius: 20px;
    border : none;
    outline: none;
    font-size: 80%;
    color: rgba(143, 149, 156, 0.5);
}

button:hover {
    background-color: rgba(87, 84, 98, 0.50);
    color: rgba(12, 12, 12, 0.7);
}

section.login{
    margin-bottom: 20%;
    margin-top: 20%;
}

html, body .login{
    width: 100%;
    height: 10%;
}

footer .login{
    display : table-row;
    height: 10%;
}
