footer {
    align-content: center;
    width: 100%;
    height: 3em;
    background-color: black;
    color: #C8C8CF;
    margin: 0;
}
section {
    margin: auto;
    justify-content: space-around;
}
p {
    font-size: 150%;
    justify-content: space-around;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

section #rankings {
    justify-content: center;
}

#rankings {
    background-size: 50% 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;

}

#logoHousesPodium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

#logoHousesPodium section:nth-of-type(1){
    order :2;
    -webkit-order : 2;
}
#logoHousesPodium section:nth-of-type(2){
    order : 1;
    -webkit-order : 1;
}
#logoHousesPodium section:nth-of-type(3){
    order : 3;
    -webkit-order : 3;
}

.logoPodium {
    height: 125px;
    width: 125px;
}

.logoPodiumFirst {
    height: 150px;
    width: 150px;
}

#rankingNamesUsers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

#rankingNamesUsersDiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;
    margin-bottom : 10%;
}

#rankingNamesUsersDiv p{
    margin-top: 0em;
    margin-left: 0.3em;
}

.triHouseRankForm select, .triHouseRankForm button{
    background-color: #bbbcc4;
    border-radius: 20px;
    border : 0px;
    outline: none;
    font-size: 80%;
}

.triHouseRankForm button:hover {
    background-color: #7d838a;
}

.houseIcon {
    height: 40px;
    width: 40px;
    vertical-align: text-bottom;
}

