p {
  color: white;
  text-align: justify;
  overflow: hidden;
}

#logo_rules {
  margin-top: -2%;
  margin-bottom: 1%;
  width: 250px;
}

section#rules.rules {
  margin-bottom: 15%;
  padding-right: 2%;
  padding-left: 2%;
}

html, body .rules {
  margin: 0;
  padding: 0;
}

body{
  background-color: rgba(0, 0, 0, 1);
}

footer .rules {
  display: table-row;
  height: 100px;
}
