body {
    width: 100%;
}

#logoUser {
    width: 100%;
    //height: 30%;
}

#user {
    display: flex;
    flex-direction: column;
    color: white;
}

#logoUserSystem {
    display: flex;
    flex-direction: column;
    width: 30%;
}

#statsUser {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#stats {
    text-align: left;
    font-size: 150%;
    width: 30%;
}

.HistoryForm select, .HistoryForm button {
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
    border: 0px;
    outline: none;
    font-size: 100%;
}

.HistoryForm button:hover {
    background-color: rgba(0,0,0,0.5);
}


#history {
    text-align: center;
    display: flex;
    //flex-direction: row;
    //flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    //width: 100%;
    //text-align: center;
    //margin-left: 20%;

    /*
    padding-bottom: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: left;
    white-space: nowrap;
    font-size: 120%;

     */
}

#divHistory {
    //width: fit-content ;
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: nowrap;
    //justify-content: space-around;
    text-align: left;
    margin-bottom: 10%;
    padding: 0;
}

#history p {
    text-align: left;
    width: max-content;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#addPoints {
    text-align-last: center;
    display: flex;
    text-align: center;

}

#addPts, #addPtsNote {
    justify-content: left;
    display: inline-table;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
}

#addPtsNote h2 {
}

/*
select, input{
    background-color: #bbbcc4;
    border-radius: 10px;
    border : 0px;
    outline: none;
    font-size: 80%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px 10px 10px 10px;
}

input:focus{
    background-color: #7d838a;
}
 */

/* -------------------------------- Theme Switcher -------------------------------- */

#cssThemeSwitcher {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 30%;
}

.cssTheme {
    margin-bottom: 5px;
    height: 50px;
    border: none;
    /*border-radius: 5% 45px;*/
    border-radius: 10px;
    font-size: 17px;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.cssTheme:hover {
    transition-duration: 0.3s;
}

#defaultTheme {
    /*border: 1px solid rgb(100, 100, 100); */
    color: white;
    /*text-shadow: black 1px 1px 1px;*/
    background-image: linear-gradient(33deg, #c3c4cb 25%, rgba(52, 13, 46, 0) 25%);
    border: 1px solid #c3c4cb;
}

#defaultTheme:hover {
    transition-duration: 0.5s;
    background-image: linear-gradient(33deg, #c3c4cb 25%, #8d9198 25%);
    border: none
}

#phoenixmlTheme {
    /*border: 0px solid #fda917;*/
    color: white;
    background-image: linear-gradient(33deg, #812724 25%, rgba(52, 13, 46, 0) 25%);
    border: 1px solid #812724;
    /*background-image: linear-gradient(33deg, rgb(253, 169, 23) 25%, rgb(133, 3, 0) 25%);*/
}

#phoenixmlTheme:hover {
    transition-duration: 0.5s;
    background-image: linear-gradient(33deg, #812724 25%, #2b2439 25%);
    border: none
}

#gistuneTheme {
    /*border: 1px solid #b9b2a8;*/
    color: white;
    background-image: linear-gradient(33deg, #927351 25%, rgba(52, 13, 46, 0) 25%);
    border: 1px solid #927351;
    /* background-image: linear-gradient(33deg, #bbb1a7 25%, #836039 25%); */
}

#gistuneTheme:hover {
    transition-duration: 0.5s;
    background-image: linear-gradient(33deg, #927351 25%, #c1bbb2 25%);
    border: none
}

#crackendTheme {
    /*border: 1px solid #54a1be;*/
    color: white;
    background-image: linear-gradient(33deg, #212069 25%, rgba(52, 13, 46, 0) 25%);
    border: 1px solid #212069;
    /*background-image: linear-gradient(33deg, #54a1be 25%, #000053 25%);*/
}

#crackendTheme:hover {
    transition-duration: 0.5s;
    background-image: linear-gradient(33deg, #212069 25%, #6aacc6 25%);
    border: none
}

@media screen and (max-width: 740px) {
    #statsUser {
        display: block;
        color: white;
    }
    #cssThemeSwitcher {
        margin: 0 auto;
    }

    #historyUser {
        display: block;
    }

    #divHistory {
        display: flex;
        flex-direction: column;
    }
    #addPoints {
        display: block;
    }
    #addPts, #addPtsNote {
        display: flex;
        flex-direction: column;
    }

}

input, select{
    background-color: rgba(0,0,0,0.3);
}
input:focus {
    background-color: rgba(0,0,0,0.5);
}


select, input, table {
    color: white;
    width: 9em;

    border-radius: 3px;
    border: 0px;
    outline: none;
    font-size: 80%;
    //padding-left: 10px;
    //padding-right: 10px;
    margin: 10px 10px 10px 10px;
}

input:focus {
    background-color: #7d838a;
}

table {
    margin: 10px auto 25px;
}

td {
    border-bottom: 1px solid #7d838a;
}

#studantinput {
    display: table-caption;
}
section.addPoints {
    display: inline-flex;
    transform: translate(2%);
}

input button, [type=button], [type=reset], [type=submit]{
    color: white;
    background-color: rgba(0,0,0,0.3);
    border-radius: 20px;
    border: 0;
    outline: none;
    font-size: 80%;
    font-family: 'Comic Neue', 'Open Sans', sans-serif;
    width: fit-content;

}

#selectStudent{
    width: 400px;
}
label {
    padding-right: 0;
}

.student{
    display: grid;
    justify-items: center;
}

label.points{
    display: block;
}

div.divPoint{
    width: 400px;

}
