@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&display=swap');

header{
    background-color: #212069
;
}

h1, h2 , .numberRanking{
    font-family: 'Chakra Petch', cursive;
}

#quizzPage{
    color : #54a1be;
}

/*backgroud*/
.bg {
    animation: slide 5s ease-in-out infinite alternate;
    background-image: linear-gradient(33deg, #000053 25%, #54a1be 25%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 6s;
}

.bg3 {
    animation-duration: 7s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

/*backgroud*/

.userRank_1{
    color : gold;
}
.userRank_2{
    color : #9ea3a3;
}
.userRank_3{
    color : #e5af85;
}


/*backgroud*/
#404{
    background-image: linear-gradient(33deg, #000053 25%, #54a1be 25%);
}
