@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');

header{
    background-color: #927351;
}

h1, h2, .numberRanking{
    font-family:  'Condiment', cursive;
}

#quizzPage{
    color : #836039;
}

/*backgroud*/
.bg {
    animation: slide 5s ease-in-out infinite alternate;
    background-image: linear-gradient(33deg, #836039 25%, #b9b2a8 25%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 6s;
}

.bg3 {
    animation-duration: 7s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

/*backgroud*/

.userRank_1{
    color : #c29305;
}
.userRank_2{
    color : #5c5c5c;
}
.userRank_3{
    color : #8d3f2b;
}

/*backgroud*/
#404{
    background-image: linear-gradient(33deg, #836039 25%, #b9b2a8 25%);
}

.menuLink:hover {
    color: #523616;
    /*transition-duration: 0.2s;*/
  }

  .icon:hover{
    filter: invert(21%) sepia(9%) saturate(3239%) hue-rotate(351deg) brightness(92%) contrast(91%);  }