@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

header{
    background-color: #450422;
    background-color: #390518;
}

h1, h2, .numberRanking{
    font-family: 'Metal Mania', cursive;
}
#quizzPage{
    color : rgba(253, 169, 23, 0.85);
}

/*backgroud*/
.bg {
    animation: slide 5s ease-in-out infinite alternate;
    background-image: linear-gradient(33deg, #45041b 25%, rgb(23, 15, 26) 25%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 6s;
}

.bg3 {
    animation-duration: 7s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

/*backgroud*/

.userRank_1{
    color : gold;
}
.userRank_2{
    color : #9ea3a3;
}
.userRank_3{
    color : #e0977a;
}


/*backgroud*/
#404{
    background-image: linear-gradient(33deg, rgba(253, 169, 23, 0.85) 25%, rgba(133, 3, 0, 0.77) 25%);
}
