/*backgroud*/
.bg {
    animation: slide 5s ease-in-out infinite alternate;
    background-image: linear-gradient(33deg, rgba(253, 169, 23, 0.85) 25%, rgba(133, 3, 0, 0.77) 25%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 6s;
}

.bg3 {
    animation-duration: 7s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

/*backgroud*/
